<div class="card " style="max-width: max-content;"  >
    <div class="card-header" style="background-color: salmon;">
        <p style="font-weight: bolder;" class="text-center">PRODUCT-NAME</p>
    </div>
    <div class="card-body " style="width: fit-content ;">
        <img src="https://www.gizbot.com/images/2020-09/realme-7_159921061900.jpg" style=" width: 100%;"  alt="">
        <p class="text center">Image of product</p> 
    </div>
    <div class="card-footer" style="background-color: rgb(253, 239, 114);">
        <p>Description of product</p>
    </div>
</div>
