<div style="max-width: 700px;" class="mx-auto">
  <h1 class="mx-auto text-center mt-5 bg-info p-3">LIST OF PRODUCTS</h1>  
</div>
<div class="container">
  <div class="row  row-cols-sm-1 row-cols-md-2 row-cols-lg-3 m-5 ">
    <div class="col mt-3">
      <app-product-comp></app-product-comp>
    </div>
    <div class="col mt-3">
      <app-product-comp></app-product-comp>
    </div>
    <div class="col mt-3">
      <app-product-comp></app-product-comp>
    </div>
    <div class="col mt-3">
      <app-product-comp></app-product-comp>
    </div>
    <div class="col mt-3">
      <app-product-comp></app-product-comp>
    </div>
    <div class="col mt-3">
      <app-product-comp></app-product-comp>
    </div>
  
  </div>


</div>
  